rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
			match /users/{userId} {
      	allow update: if request.auth != null && request.resource.data.status == 'online';
      	allow update, delete: if request.auth != null && request.auth.uid == userId;
      	allow read, create: if request.auth != null;
    }

    match /posts/{postID} {
        allow read;
        allow write: if request.auth != null;
    }
  }
}