rules_version = '2';
service cloud.firestore {

  function isAuthenticated() {
  	return request.auth != null
  }
  
  function isOwner (uid) {
  	return request.auth != null && request.auth.uid == uid
  }
  
  match /databases/{database}/documents {
  
    match /devs/{devId} {
      allow create: if isAuthenticated();
      allow read: if isOwner(devId);
      allow update: if isOwner(devId);
    }

    match /{path=**}/profile/{devId} {
      allow read;
    }
    
    match /posts/{postId} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
    }
    
  }
}