html,
body,
#root {
    height: 100%;
    width: 100%;
}

#application {
    /* height: 100%; */
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    transition: color 0.2s linear;
    transition: background-color 1s ease-in;
}

button {
    cursor: pointer;
}

p {
    font-weight: 200;
}
